extends _partial/base.jade

block content
  header#home-header
    .video-wrapper.video-wrapper-16x9
      iframe(src="https://player.vimeo.com/video/165396798?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
  #post-list.post-list-container
    each post in page.posts
      a.post-list-item(href='#{page.url}#{post.url}')
        .post-image-container
          .post-header #{post.year}
          .post-image
            img(src="#{post.cover}" alt='#{post.title}' title='#{post.title}')
          .post-footer #{post.daymonth}
        .post-title-container #{post.title}
