meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="#{config.social.twitter_user}")
meta(name="twitter:title" content="#{page.title}")
meta(name="twitter:description" content="#{config.title} - #{page.title}: #{page.description}")
meta(name="twitter:creator" content="#{config.social.twitter_user}")


meta(property="og:title" content="#{page.title}")
meta(property="og:type" content="article")
meta(property="og:url" content="#{page.permalink}")
meta(property="og:description" content="#{config.title} - #{page.title}: #{page.description}")
meta(property="og:site_name" content="#{config.title}")
meta(property="article:publisher" content="https://#{config.social.facebook_url}")

if page.cover
  - var coverImagePath = config.url+''+page.cover
  meta(name="twitter:image" content=coverImagePath)
  meta(property="og:image" content=coverImagePath)
else
  - var coverImagePath = config.url+''+config.default_cover
  meta(name="twitter:image" content=coverImagePath)
  meta(property="og:image" content=coverImagePath)
